* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #eeeeee;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-align: center;
  width: 280px;
}

.left-side {
  font-family: Archivo, Arial, Helvetica, sans-serif;
}

.Quote {
  font-size: 12pt;
  font-style: italic;
}
.Author {
  font-style: normal;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6px;
  margin-left: 8px;
}

.twitter-share-button {
  text-align: end;
  font-size: 8pt;
  color: #00aced;
}

.NextButton:hover {
  cursor: pointer;
}
